.recommendations__header {
  text-align: center;
  text-transform: uppercase;
  margin: 7rem 0 4rem;
  font-size: 2rem;
}

.recommendation {
  background-color: #f0f0f0;
  width: 60%;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
  &__details {
    width: 50%;
  }
  &__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  &__track {
    margin: 0;
    font-size: 1.5rem;
  }
  &__artist {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0.8rem;
    font-style: italic;
  }
  &__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 1rem;
  }
  &__chatGptIntro {
    margin-top: 0.3rem;
    margin-bottom: 0.1rem;
    font-size: 1.4rem;
  }
  &__poweredBy {
    font-style: italic;
  }
  &__chatGptResponse {
    white-space: pre-wrap;
    font-size: 1.2rem;
  }
}

.icon {
  width: 2rem;
  height: 2rem;
  &__space {
    width: 100px;
  }
}
