.recommendations__header {
  text-align: center;
  text-transform: uppercase;
  margin: 7rem 0 4rem;
  font-size: 2rem;
}

.recommendation {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // gap: 3rem;
  background-color: #f0f0f0;
  width: 60%;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
  &__details {
    width: 50%;
  }
  &__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  &__track {
    margin: 0;
  }

  .saveIcon {
    width: 2rem;
    height: 2rem;
    &__space {
      width: 100px;
    }
  }
  &__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  &__chatGptIntro {
    margin-bottom: 0.1rem;
    font-size: 1.3rem;
  }
  &__poweredBy {
    font-style: italic;
  }
}

.new-line {
  white-space: pre-wrap;
}
