.header {
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3.5rem;
    border-bottom: 1px solid white;
  }
  &__title {
    font-family: Horizon;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: white;
    &--text-decoraction {
      text-decoration: none;
    }
  }
  &__link {
    text-decoration: none;
    margin: 0 3rem;
    text-transform: uppercase;
    font-family: Inter;
    font-size: 1.3rem;
    padding-bottom: 0.3rem;
    color: white;
  }
}
.black {
  color: black;
  &.active,
  &:hover {
    border-bottom: 1px solid white;
  }
  &__title {
    border-bottom: none;
    color: white;
  }
}
